@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

$primary-color: #252d3e;
$danger-color: hsl(348, 100%, 61%);
$header-color: white;
$hover-color: #eeeeee;
$body-background-color: #f1f5f9;

$main-family: Inter,
    -apple-system,
    Fira Sans,
    BlinkMacSystemFont,
    Arial,
    sans-serif;

$primary-color: #252d3e;
$danger-color: hsl(348, 100%, 61%);
$main-family: "Inter",
    -apple-system,
    Fira Sans,
    BlinkMacSystemFont,
    Arial,
    sans-serif;
$logo-family: 'Bebas Neue', sans-serif;